useDynLib(methylPipe, .registration=TRUE)
import(methods)
import(BiocGenerics)
import(S4Vectors)
import(IRanges)
import(GenomicRanges)
import(Biostrings)
import(Rsamtools)
import(BSgenome)
import(Gviz)

importFrom(GenomicAlignments,readGAlignments,seqnames, width, coverage)
importFrom(marray, maPalette)
importFrom(gplots, heatmap.2)
importFrom(parallel, makeCluster)
importFrom(data.table,fread)
importFrom(GenomeInfoDb,seqlengths,"seqlengths<-",seqnames)

exportPattern("^[^\\.]")

exportClasses(GEcollection, GElist, BSdata, BSdataSet)
exportMethods("[[", "[[<-", "[", "$", show, chr, binC, binmC, binrC, nbins, binscore,
              "binscore<-", mCsmoothing, findDMR)
